.container{
    height: 100%;
    width: 90%;
    background-color: yellow;
    border: 1px solid black;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    /* grid-template-areas: 
    "user-card user-card user-card"
    "user-card user-card user-card"; */
    gap: 10px;
    margin: 10px;
    border-radius: 10px;
}

.user-card{
    height: 250px;
    width: 300px;
    background: lightblue; 
    margin: 10px; 
    padding: 15px; 
    border: 2px solid black; 
    border-radius: 10px;
}

.patient{
     height: 250px;
    width: 300px;
    background: lightblue; 
    margin: 10px; 
    padding: 15px; 
    border: 2px solid black; 
    border-radius: 10px;
}

.job{
    height: 300px;
    width: 300px;
    background: lightblue; 
    margin: 10px; 
    padding: 15px; 
    border: 2px solid black; 
    border-radius: 10px;
    animation-name: slide;
    animation-duration: 1.5s;
    animation-delay: 0s;
    animation-timing-function:ease-in-out;
    animation-iteration-count:infinite;
    animation-direction:alternate;
}

@keyframes slide{
    from{transform: translateY(100%);}
}